body {
  font-family: 'Roboto-Medium';
  margin: 0 auto;
  background: #ffffff;
}
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
@font-face {
  font-family: Roboto-Black;
  src: url('../fonts/Roboto-Black.ttf');
}
@font-face {
  font-family: Roboto-BlackItalic;
  src: url('../fonts/Roboto-BlackItalic.ttf');
}
@font-face {
  font-family: Roboto-Bold;
  src: url('../fonts/Roboto-Bold.ttf');
}
@font-face {
  font-family: Roboto-BoldItalic;
  src: url('../fonts/Roboto-BoldItalic.ttf');
}
@font-face {
  font-family: Roboto-Light;
  src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
  font-family: Roboto-LightItalic;
  src: url('../fonts/Roboto-LightItalic.ttf');
}
@font-face {
  font-family: Roboto-Medium;
  src: url('../fonts/Roboto-Medium.ttf');
}
@font-face {
  font-family: Roboto-MediumItalic;
  src: url('../fonts/Roboto-MediumItalic.ttf');
}
@font-face {
  font-family: Roboto-Thin;
  src: url('../fonts/Roboto-Thin.ttf');
}
@font-face {
  font-family: Roboto-Roboto-Light;
  src: url('../fonts/Roboto-ThinItalic.ttf');
}
@font-face {
  font-family: RobotoCondensed-Bold_1;
  src: url('../fonts/RobotoCondensed-Bold_1.ttf');
}
@font-face {
  font-family: RobotoCondensed-BoldItalic_1;
  src: url('../fonts/RobotoCondensed-BoldItalic_1.ttf');
}
@font-face {
  font-family: RobotoCondensed-Italic_1;
  src: url('../fonts/RobotoCondensed-Italic_1.ttf');
}
@font-face {
  font-family: RobotoCondensed-Light_1;
  src: url('../fonts/RobotoCondensed-Light_1.ttf');
}
@font-face {
  font-family: RobotoCondensed-LightItalic_1;
  src: url('../fonts/RobotoCondensed-LightItalic_1.ttf');
}
@font-face {
  font-family: RobotoCondensed-Regular_1;
  src: url('../fonts/RobotoCondensed-Regular_1.ttf');
}
@font-face {
  font-family: RobotoSlab-Bold;
  src: url('../fonts/RobotoSlab-Bold.ttf');
}
@font-face {
  font-family: RobotoSlab-Light;
  src: url('../fonts/RobotoSlab-Light.ttf');
}
@font-face {
  font-family: RobotoSlab-Regular;
  src: url('../fonts/RobotoSlab-Regular.ttf');
}
@font-face {
  font-family: RobotoSlab-Thin;
  src: url('../fonts/RobotoSlab-Thin.ttf');
}
.content{
  max-width: 1920;
}
.content__container {
  max-width: 100%;
  width: 1460px;
  margin: 0 auto;
}

.glyphicon-align-justify:before {
  font-size: 20px;
}
.header-nav__item {
  font-size: 16px;
  text-transform: uppercase;
  padding: 0 10px;
}
.header-nav__item>a{
  color: rgb( 148, 148, 148 );

}
.navbar-logo__wrap {

}
.navbar-logo {
  width: 180px;
  background-image: url("../img/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 20px;
}
.navbar-nav {
  float: right;
}
header {
  padding: 14px 0;
}
.header-nav {
  margin: 0;
}
.header-nav__item__sign {
  background-color: rgb(29, 123, 84);
  border-radius: 5px;
  border-radius: 41px;
  padding: 0 21px;
}
.header-nav__item__sign a {
  color: #ffffff;
}
.nav>.header-nav__item__sign>a:hover{
  background-color: inherit;
  color: rgb(86, 155, 189);
}
.navbar {
  min-height: 0;
}
.main__block1 {
  background-color: rgb(86, 155, 189);
}
.main__block1__img {
  height: 554px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/banner-top.jpg");
}
.main__block2__1 {
  border-bottom: 1px solid lightgray;
  margin: 0px 44px;
  padding: 20px 18px;
  height: 356px;
  margin-bottom: 20px;
}
.main__block2__h {
  font-size: 30px;
  font-family: "RobotoSlab-Bold";
  color: rgb( 86, 155, 189 );
}
.main__block__txt {
  font-size: 18px;
  font-family: "Roboto-Medium";
  color: rgb( 148, 148, 148 );
  padding-top: 18px;
}
.main__block2__contain {
  padding-top: 37px;
}
.main__block2__ico {
  width: 176px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.main__block2__ico1 {
  background-image: url("../img/icon1.png");
}
.main__block2__ico2 {
  background-image: url("../img/icon2.png");
}
.main__block2__ico3 {
  background-image: url("../img/icon3.png");
}
.main__block2__ico4 {
  background-image: url("../img/icon4.png");
}
.main__block3__title, .main__block3__h3, .main__block3__txt {
  display: inline-block;
  text-align: center;
}
.main__block__oval1 {
  font-family: "Roboto-Black";
  padding: 12px 28px;
  border-radius: 25px;
  font-size: 18px;
}
.main__block3__title {
  background-color: rgb(119, 119, 119);
  color: #ffffff;
  margin-bottom: 28px;
}
.main__block3__h3 {
  font-size: 24px;
  font-family: "RobotoSlab-Bold";
  margin-top: 6px;
  margin-bottom: 1px;
}
.main__block3__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 32px;
}
.main__block3__txt {
  text-align: center;
  padding: 0 385px;
  margin-bottom: 13px;
}
.main__block4 {
  background-color: rgb(29, 123, 84);
  padding-bottom: 55px;
}
.main__block4__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__block4__txt1 {
  color: #ffffff;
  padding-top: 37px;
  margin-bottom: 15px;
}
.main__block__h1 {
  font-size: 60px;
  font-family: "Roboto-Black";
}
.main__block5__txt1 {
  color: #ffffff;
  padding-top: 9px;
  margin-bottom: 19px;
}
.main__block4__txt2 {
  font-size: 36px;
  font-family: "RobotoSlab-Bold";
  color: rgb(245, 224, 133);
  padding-bottom: 23px;
}
.main__block5__txt2 {
  font-size: 30px;
  font-family: "RobotoSlab-Bold";
  color: rgb(86, 155, 189);
  padding-bottom: 26px;
}
.main__block4__txt3 {
  font-size: 24px;
  font-family: "RobotoSlab-Regular";
  color: #ffffff;
  margin: 0;
  text-align: center;
}
.main__block5__txt3 {
  font-size: 24px;
  font-family: "RobotoSlab-Regular";
  color: #ffffff;
  margin: 0;
  text-align: center;
}
.triangle1 {
  width: 0;
  height: 0;
  border-left: 36px solid transparent;
  border-right: 36px solid transparent;
  border-top: 18px solid white;
}
.triangle2 {
  border-top: 18px solid #1d7b54;
}
.main__block4__txt__wrap2 {
  padding-bottom: 24px;
}
.main__block4__button {
  background-color: #ffffff;
  font-family: "Roboto-Black";
  padding: 12px 28px;
  border-radius: 25px;
  color: rgb(29, 123, 84);
  margin-top: 40px;
}
.main__block4__button:hover {
  text-decoration: none;
  color: #000000;
}
.main__block4__hide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 65px;
  padding-top: 7px;
}
.main__block4__txt3__span {
  font-weight: bold;
}
.main__block4__hide>.main__block4__txt2 {
  color: #ffffff;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgb(111, 181, 152);
  padding-bottom: 16px;
  padding-top: 40px;
  margin-bottom: 16px;
}
.main__block4__table {
  width: 100%;
}
.main__block4__logo {
  background-repeat: no-repeat;
  background-position: center;
  align-self: flex-end;
}
.main__block4__logo1 {
  width: 330px;
  height: 80px;
  background-image: url(../img/logo_p1.png);
  margin-top: 25px;
}
.main__block4__logo2 {
  width: 90px;
  height: 100px;
  background-image: url(../img/logo_p2.png);
}
.main__block4__logo3 {
  width: 280px;
  height: 80px;
  background-image: url(../img/logo_p3.png);
}
.main__block4__nav li a {
  border-radius: 0;
  background-color: rgb(109, 162, 140);
  color: rgb(29, 123, 84);
  margin-left: 20px;
  padding: 16px 36px;
}
.main__block4__tab-title__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 94px;
}
.main__block4__tab-title {
  background-color: #ffffff;
  padding: 0 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.tab-col1 {
  width: 35%;
}
.tab-col2 {
  width: 20%;
}
.tab-col34 {
  width: 22.5%;
}
.main__block4__tab-title1 {
  color: #000000;
}
.main__block4__tab-title2 {
  background-color: #569bbd;
  position: relative;
}
.main__block4__tab-title3 {
  color: #000000;
  padding: 0 52px;
}
.main__block4__tab-title4 {
  width: 22.5%;
  color: #000000;
  padding: 0 52px;
}
.main__block4__tab-title__logo {
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 150%;
  background-image: url(../img/logo-white.png);
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #569bbd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.main__block4__nav__item {
  background-color: inherit;
  font-family: "Roboto-Black";
  font-size: 18px;
}
.main__block4__nav {
  border: none;
}
.main__block4__nav>li>a {
  border: none;
}
.main__block4__table__wrap {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
}
.main__block4__table__item {
  list-style: none;
  font-family: "Roboto-Medium";
  font-size: 24px;
  color: #ffffff;
  padding: 10px 20px;
}
.main__block4__table__item:nth-child(odd) {
  background-color: #6da28c;
}
.main__block4__table__list1 {
  padding-right: 20px;
}
.main__block4__table__list3 {
  padding-left: 20px;
}
.main__block4__table__item1 {
  background-color: #569bbd;
}
.main__block4__table__item1:nth-child(odd) {
  background-color: rgb(141, 179, 198);
}
.main__block4__hide >.main__block4__txt2__tab-bot {
  text-align: left;
  border: none;
  margin-top: 61px;
  padding: 0 16px;
}
.main__block4__txt3__tab-bot {
  text-align: left;
  font-size: 18px;
  padding: 0 15px;
}
.main__block5__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__block5 {
  width: 100%;
  height: 648px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/background-form1.jpg);
}
.main__block5__form__wrap {
  width: 100%;
  padding: 0 50px;
}
.main__block5__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 57px;
}
.main__block5__form__wrap1 {
  display: flex;
  margin-top: 0;
  margin-bottom: 2px;
  width: 100%;
}

.main__block5__form__input {
  padding: 18px;
  margin-right: 28px;
  margin-left: 18px;
  border-radius: 5px;
  border-width: 0px;
  width: 637px;
  font-family: "Roboto-Medium";
  font-size: 18px;
  margin-bottom: 38px;
}
.btn-submit {
  margin-top: 48px;
  font-family: "Roboto-Black";
  font-size: 30px;
  padding: 16px 78px;
  border-radius: 40px;
  background-color: rgba(26, 58, 29, 0.57);
  border: 3px solid rgb(29, 123, 84);
}
.main__block6__h3 {
  color: #569bbd;
  text-align: left;
}
.main__block6__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 34px;
}
.main__block6__txt1 {
  color: rgb(119, 119, 119);
}
.main__block6__oval {
  background-color: rgb(119, 119, 119);
  color: #ffffff;
  margin: 40px 0;
  margin-top: 5px;
  margin-bottom: 51px;
}
.main__block6__txt {
  text-align: left;
}
.main__block6__1 {
  margin-left: 17px;
  margin-right: 46px;
  margin-bottom: 38px;
  height: 165px;
  border: none;
}
.main__block7__img {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/banner-carousel1.jpg");
  width: 100%;
  height: 488px;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  bottom: 26px;
  position: absolute;
  /* margin: 0 auto; */
  width: 100%;
}
.owl-theme .owl-dots .owl-dot {
  zoom: 1.9;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  margin: 5px 3px;
}
.main__block8 {
  background-color: rgb(22,91,59);
  padding-bottom: 33px;
}
.main__block8__form__wrap {
  margin-top: 21px;
}
.main__block8__txt1 {
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding-top: 61px;
}
.main__block8__form__wrap1 {
  display: flex;
  flex-direction: column;
  margin-top: 27px;
}
.main__block8__form__wrap1-2 {
  margin-top: 0;
  padding-left: 30px;
}
.main__block8__form {
  padding-bottom: 20px;
}
.main__block7__carousel {
  margin: 0;
}
.main__block8__h {
  color: #ffffff;
  margin-bottom: 0;
}
.main__block8__h-2 {
  margin-top: 27px;
}
.main__block8__txt {
  color: #ffffff;
  padding-top: 0;
  margin-bottom: 0;
}
.main__block8__btn__wrap {
  margin-left: 63px;
}
.main__block8__form__container {
  width: 100%;
}
footer {
  background-color: rgb(34, 34, 34);
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__logo {
  width: 174px;
  height: 52px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/logo-white.png);
  margin-top: 42px;
}
.footer__links {
  padding: 20px 0;
  margin-top: 14px;
}
.footer__link, .footer__links__span {
  font-family: "Roboto-Medium";
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
}
.footer__copyright {
  font-family: "Roboto-Medium";
  font-size: 14px;
  color: rgb( 119, 119, 119 );
  padding: 20px 0;
  text-transform: uppercase;
}
.footer__socoals {
  display: flex;
  flex-direction: row;
}
.footer__soc {
  color: #ffffff;
  font-size: 20px;
  width: 44px;
  height: 44px;
  border: 2px solid #ffffff;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 9px;
}
.main__block6__wrap1 {
  margin-top: 17px;
}
textarea {
  resize: none;
}
.main__block8__btn {
  margin-top: 8px;
}
.modal-content {
  width: 622px;
  height: 448px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal__txt1 {
  color: rgb(119, 119, 119);
  margin-top: 50px;
  margin-bottom: 50px;
}
.modal__input1 {
  background-color: rgb(215, 215, 215);
  width: 426px;
}
.modal__btn__wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px 96px;
  align-items: center;
}
.modal__btn {
  font-family: "Roboto-Medium";
  font-size: 16px;
  background-color: rgb(29, 123, 84);
  border-radius: 30px;
  padding: 12px 41px;
  text-transform: uppercase;
  margin: 0;
}
.modal__lnk {
  font-family: "Roboto-Medium";
  font-size: 18px;
  text-decoration: underline;
  color: rgb( 86, 155, 189 );
}
.terms__block1__img {
  background-image: url(../img/banner-top-terms.jpg);
  height: 420px;
}

.terms__block2__h {
  color: #000000;
}
.terms__block2__txt {
  white-space: pre-line;
}
.owl-theme .owl-dots .owl-dot span {
  margin: 5px 3px;
}
@media screen and (max-width: 1460px) {
  .main__block1__img {
    height: 0;
    padding-top: 37.9%;
    background-size: contain;
    background-image: url("../img/banner-top-desktop.jpg");
  }
  .header-nav__item {
    padding: 0
  }
  .main__block__txt {
    font-size: 1.5vw;
    padding: 0
  }
  .main__block2__1 {
    border-bottom: 1px solid lightgray;
    margin: 0;
    padding: 20px 0;
    height: 30vw;
  }
  .main__block2__h {
    font-size: 2vw;
  }

  .main__block3__txt {
    padding: 0 16vw;
  }
  .main__block3__h3 {
    font-size: 1.8vw;
  }
  .main__block4__txt3 {
    font-size: 1.8vw;
  }
  .main__block5__txt3 {
    font-size: 1.8vw;
  }
  .main__block4__txt2 {
    font-size: 2.2vw;
  }
  .main__block5__txt2 {
    font-size: 2.2vw;
  }
  .main__block4__table__list1 {
    padding-right: 1vw;
  }
  .main__block4__table__list3 {
    padding-left: 1vw;
  }
  .main__block4__table__item {
    padding: 1vw 1vw;
    font-size: 1.8vw;
  }
  .main__block4__tab-title {
    padding: 0 1vw;
  }
  .main__block4__tab-title3 {
    padding: 0 2vw;
  }

  .main__block5__form__input {
    margin: 1vw;
    padding: 1vw;
    font-size: 1.2vw;
  }
  .btn-submit {
    font-size: 1.8vw;
    padding: 1vw 4vw;
  }
  .main__block6__1 {
    height: 20vw;
  }
  .main__block6__wrap1 {
    margin: 1vw;
  }
  .main__block6__oval {
    margin: 4vw 0;
  }
  .main__block8__container {
    padding: 1vw;
  }
  .main__block8__btn__wrap {
    margin-left: 1vw;
  }
  .main__block8__form__input1 {
    width: auto;
  }
  .terms__block1__img {
    padding-top: 37.9%;
  }
  .terms__block2 {
    padding: 0 1vw;
  }
}
@media screen and (max-width: 1060px) {
  .header-nav__item {
    font-size: 1.5vw;
  }
  .nav>li>a {
    padding: 1vw;
  }
  .main__block2__h {
    font-size: 3vw;
  }
  .main__block__txt {
    font-size: 2vw;
  }
  .main__block3__h3 {
    font-size: 2.8vw;
  }
  .main__block__h1 {
    font-size: 4.2vw;
  }
  .main__block4__txt3 {
    font-size: 1.8vw;
  }
  .main__block5__txt3 {
    font-size: 1.8vw;
  }
  .main__block__oval1 {
    padding: 1vw 2.5vw;
    border-radius: 3vw;
    font-size: 2vw;
  }
  .main__block4__nav__item {
    margin: 40px 0;
    font-size: 2vw;
  }
  .main__block4__nav li a {
    margin: 0;
    padding: 16px 36px;
  }
  .main__block4__tab-title__logo {
    height: 0;
    background-size: contain;
    top: 35%;
    padding-top: 20%;
  }
  .main__block4__tab-title__wrap {
    height: 6vw;
  }
  .main__block4__tab-title__logo {
    top: 20%;
  }
  .main__block5__form__input {
    margin: 1vw;
    padding: 1vw;
  }
  .main__block5__form__input {
    font-size: 2vw;
  }
  .btn-submit {
    font-size: 2.5vw;
  }
  .main__block2__1 {
    height: 43vw;
  }
  .main__block6__1 {
    height: 35vw;
  }
  .footer__link, .footer__links__span {
    font-size: 2vw;
  }
  .footer__soc {
    font-size: 3vw;
    width: 4.5vw;
    height: 4.5vw;
    border-radius: 2.5vw;
  }
  .footer__copyright {
    font-size: 1.8vw;
  }
  .modal-content {
    width: 100%;
    height: auto;
    padding-bottom: 3vw;
  }
  .modal__txt1 {
    margin-top: 3vw;
    margin-bottom: 3vw;
  }
  .modal__lnk {
    font-size: 2vw;
  }
}
@media (min-width: 768px)and (max-width: 1060px) {
  .navbar-nav {
    height: 50px;
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .navbar-logo {
    height: 0;
    background-size: contain;
    padding-top: 3%;
  }
  .navbar-buttons {
    width: 100%;
  }
  .navbar-toggle {
    margin: 0;
  }
  .header-nav__menu {
    float: left;
  }
  .header-nav__item {
    font-size: 3vw;
    padding-left: 2vw;
  }
  .main__block1__img {
    margin: 0 auto;
    padding-top: 73%;
    background-position: left;
    background-size: cover;
  }
  .main__block2__h {
    font-size: 4vw;
  }
  .main__block__txt {
    font-size: 3vw;
  }
  .main__block2__ico {
    height: 0;
    padding-top: 18%;
    background-size: contain;
  }
  .main__block3__h3 {
    font-size: 3.8vw;
  }
  .main__block__h1 {
    font-size: 4.5vw;
  }
  .main__block4__txt2 {
    font-size: 3.8vw;
  }
  .main__block5__txt2 {
    font-size: 3.8vw;
  }
  .main__block4__txt3 {
    font-size: 2.2vw;
  }
  .main__block5__txt3 {
    font-size: 2.2vw;
  }
  .main__block__oval1 {
    padding: 2vw 4.5vw;
    border-radius: 4vw;
    font-size: 3vw;
  }
  .main__block4__hide {
    padding: 0;
  }
  .main__block4__logo {
    height: 0;
    background-size: contain;
    padding-top: 10%;
    align-self: center;
  }

  .main__block4__nav__item {
    font-size: 3vw;
  }
  .glyphicon-align-justify:before {
    font-size: 4vw;
  }
  .main__block4__table__item {
    font-size: 2.2vw;
  }
  .main__block5__form__wrap1 {
    flex-direction: column;
  }
  .btn-submit {
    font-size: 3vw;
  }
  .main__block2__1 {
    height: auto;
  }
  .main__block6__1 {
    height: auto;
  }
  .footer__link, .footer__links__span {
    font-size: 3vw;
  }
  .footer__copyright {
    font-size: 2.2vw;
  }
  .modal__input1 {
    width: 80%;
  }
  .main__block5__form__input {
    font-size: 3vw;
  }
}


